html {
    font-size: 62.5%;
    scrollbar-width: thin;
    font-family: "Poppins", sans-serif;
    background-color: #f6f6f6;
    background-image: linear-gradient(315deg, #f6f6f6 0%, #e9e9e9 74%);
}

body {
    height: 100vh;
}

html *::-webkit-scrollbar {
    width: 5px;
    height: 8px;
    background-color: #fff;
    border-radius: 4px;
}

html *::-webkit-scrollbar-thumb {
    background-color: #ff4e00;
    background-image: linear-gradient(315deg, #ff4e00 0%, #ec9f05 74%);
    border-radius: 4px;
}

.css-11ngvp6 .Content-lens {
    color: #e66d39a3 !important;
}
